.container {
    color: #ffff;
}

.container .genres {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 300px;
}

.container .platforms {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 300px;
}


.error {
    display:inline;
    margin-left: 10px;
}