.platforms {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  width: 400px;
  color: #2ecc71;
  border-style: solid;
  border-color: #2ecc71;
  border-width: 3px;
  background-color: rgba(75, 75, 75, 0.5);
  margin: 20px;
}

.genres {
    position: relative;
    top: 170px;
    left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    width: 400px;
    color: #2ecc71;
    border-style: solid;
    border-color: #2ecc71;
    border-width: 3px;
    background-color: rgba(75, 75, 75, 0.5);
    margin: 20px;
}

.genres_name {
    position: relative;
    left: 200px;
    font-size: 25px;
    top: -5px;
}

.platforms_name {
    position: relative;
    right: 180px;
    top: -190px;
    font-size: 25px;
}



.container {
    color: #ffff;
}

.container .genres {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 200px;
    margin-right: 300px;
    top: 0px;
}

.container .platforms {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 80px;
    margin-right: 300px;
    position: relative;
    top: -180px;
}


.error {
    display: inline;
    margin-left: 10px;
}


.btn {
    position: relative;
    margin: 40px;
    top: -130px;
    left: 44%;
    padding: 5px 20px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 3px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.btn:hover,.btn:active {
    -webkit-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    border-bottom: 1px solid #2ecc71;
}

.btn_disable {
    position: relative;
    margin: 40px;
    top: -130px;
    left: 44%;
    padding: 5px 20px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 3px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    background-color: #9e2424;
    border: none;
    border-bottom: 5px solid #8b1410;
    text-shadow: 0px -2px #8b1410;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.btn_disable:hover,.btn_disable:active {
    -webkit-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    border-bottom: 1px solid #8b1410;
}


.box {
    position: relative;
    top: 10px;
    left:30%;
    width: 500px;
}

.box input {
    font-size: 15px;
    box-sizing: border-box;
    background-color: #fff;
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 0 25px 25px 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 3.5px;
}

.box .inputDetail {
    display: inline-block;
    font-size: 15px;
    margin: 2px;
    border-radius: 25px 0 0 25px;
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    background: #2EE59D;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
}

.box textarea {
    font-size: 15px;
    box-sizing: border-box;
    background-color: #fff;
    width: 300px;
    height: 100px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 0 25px 25px 0;
    font-family: 'Poppins', sans-serif;
    resize: none;
}

.box .button_text {
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: -82px;
    margin: 2px;
    border-radius: 25px 0 0 25px;
    width: 120px;
    height: 100px;
    border: none;
    outline: none;
    background: #2EE59D;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000;
}
